.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sidebar {
  transition: 100ms linear;
}

.sidebarButtonShape {
  position: absolute;
  display: flex;
  right: -2.5rem;
  height: 50px;
  width: 50px;
  background-color: rgb(225, 149, 137);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.sidebarButtonShape:hover {
  transform: scale(1.2) rotate(180deg);
  cursor: pointer;
}

.navitem {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.priceSearchBar {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.logo {
  color: white;
  transition: color 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  color: #ffcccb;
}


/* Basic button styles */
.price-btn,
.coupon-btn {
  background-color: rgb(155, 28, 28);
  color: white;
  font-weight: bold;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
}

/* Button hover effect */
.price-btn:hover,
.coupon-btn:hover {
  background-color: rgb(243, 130, 113);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);

}

.price-btn:active,
.coupon-btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

}

.popup-logo {
  color: rgb(155, 28, 28);
  text-align: center;
  font-size: 2.5rem;
}

.hidden {
  display: none; 
}

.mb-4 {
  margin-bottom: 16px; 
}

.mt-4 {
  margin-top: 16px; 
}

.couponTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  overflow: hidden; 
  transition: all 0.3s ease; 
}

.couponTable[style*="visibility: hidden"] {
  margin-top: 0; 
}

.couponTable th,
.couponTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.couponTable th {
  background-color: rgb(225, 149, 137);
  color: white;
}

.couponTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.couponTable tr:hover {
  background-color: #f1f1f1;
}

.popup {
  background-color: #e0e0e0; 
  border-radius: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px; 
  max-width: 500px; 
  margin: 0 auto; 
}